# Игнорируем тяжелый мусор
venv/
.venv/
__pycache__/
*.pyc

# Игнорируем гитовую историю и документацию
.git
.gitignore
README.md

# Игнорируем локальные данные (если есть)
temp/
output/
ocr-artifacts/
ocr-processed/

# Игнорируем конфиги (мы их через env прокидываем)
.env
