fastapi==0.128.8
uvicorn==0.40.0
python-multipart==0.0.22
docling==2.73.0
docling-core==2.64.0
docling-ibm-models==3.11.0
docling-parse==4.7.3
easyocr==1.7.2
pika==1.3.2
minio==7.2.20
langfuse==2.60.10  # see ADR
pillow==11.3.0
pydantic==2.12.5
pydantic_core==2.41.5
pydantic-settings==2.12.0
ocrmypdf==16.13.0
